* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html { width: 100%; height:100%; overflow:hidden; }

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
}


input:-webkit-autofill {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus, input:-webkit-autofill:focus {
    border-color: #66afe9; -webkit-box-shadow: inset 0 0 0px 9999px rgba(255,255,255,1), 0 0 1px rgba(255, 255, 255, 0.2);
}

input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    color: #fff!important;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.login {
    display: flex;
    width: 100%;
    padding: 2em;
}
.view {display: flex; height: 100%; width: 100%;}
.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: url("../img/sun.jpeg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poiret One', cursive;
    -webkit-filter: blur(0px);

}
.menu {
 display: flex;
 height: 200px;
 width: 200px;
 position: absolute;
 background-color: rgba(255,255,255,0.7);
 transform: rotate(45deg);
 -webkit-filter: blur(1px);
 border-radius: 50px;
 -webkit-transition:all linear 0.5s;
 border: 2px solid #fff;
}

@keyframes reduce {
    from {
        border-radius: 50px;
    }
    to {
        border-radius:70px;
    }
}
.menu:hover {
    animation-duration: 1s;
    animation-name: reduce;
    animation-iteration-count: infinite;
    animation-direction:linear;
}

.menu:hover {
}
#menu_login {
    display:flex;
    height: 200px;
    width: 200px;
    position: relative;
    top: 4em;
    left: 2em;
}
#menu_register {
 height: 200px;
 width: 200px;
 display:flex;
 position: relative;
 top: 10em;
 left: 8em;
}

.home a {
    position: relative;
    text-decoration: none;
    top: 0.5em;
    color: #57a2d2;
    font-size: 2em;
    height: 75%;
    width: 100%;
    text-align: center;
    font-variant: small-caps;

}
.home span {
    color: white;
    font-size: 3em;
}
.login, .register {
    display: flex;
      background-color: #EB4E4E;
    height: 100%;
    width: 100%;;
    font-family: 'Open Sans', sans-serif;
    background: #092756;
    background: -moz-radial-gradient(100% 0%, ellipse cover, rgba(234,168,107,1) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #361536 0%, #C1C1EB 100%);
    background: -webkit-radial-gradient(100% 0%, ellipse cover, rgba(234,168,107,1) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #361536 0%,#C1C1EB 100%);
    background: -o-radial-gradient(100% 0%, ellipse cover, rgba(234,168,107,1) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #361536 0%,#C1C1EB 100%);
    background: -ms-radial-gradient(100% 0%, ellipse cover, rgba(234,168,107,1) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #361536 0%,#C1C1EB 100%);
    background: -webkit-radial-gradient(100% 0%, ellipse cover, rgba(234,168,107,1) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #361536 0%,#C1C1EB 100%);
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:15px;
    text-transform:uppercase;
    width:100%;
    justify-content: center;
    align-items: center;
}
.errors {
    color: rgba(230, 57, 57, 0.8);
}